<html>
<head>
    <div th:insert="menu"></div>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>List of Events</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Event Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th>
                    <th scope="col">Participants</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event :${events}">
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.location}"></td>
                    <td th:text="${event.description}"></td>
                    <td>
                        <ul th:each="prt :${event.participants}" class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${prt}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:insert="addEvent"></div>

</body>
</html>
