<html>
<head>
  <div th:insert="menu"></div>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="card border border-info border-3">
    <div class="card-header bg-info">
      <h3>Group details</h3>
    </div>
    <div class="card-body bg-light">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"th:text="${group.name}"></dd>

        <dt class="col-sm-3">Admin name</dt>
        <dd class="col-sm-9"th:text="${group.admin}"></dd>
      </dl>

    <h6>Members</h6>
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
             <tr th:each="member : ${group.members}">
                <td th:text="${member.name}"/>
                <td th:text="${member.email}"/>
          </tr>
        </tbody>
      </table>


      <h6>Events</h6>
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">Event Date</th>
          <th scope="col">Location</th>
          <th scope="col">Attend</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${group.events}">
          <td th:text="${event.date}"/>
          <td th:text="${event.location}"/>
          <td>
            <form th:action="@{/attend(eventid=${event.id})}" method="post">
              <input type="submit" value="Attend">
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
