<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">Game Club</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="groups">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="games">Games</a>
            </li>
            <sec:authorize access="hasRole('GROUP_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="mygroup">My Group</a>
                </li>
            </sec:authorize>
        </ul>
        <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
        </li>
    </div>
</nav>
</body>
</html>
